<!-- staff/templates/staff/staff_form.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Bus Management System</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <style></style>
  </head>

  <body>
    {% include 'header.html' %}
    {% block content %}
      <div class="container mb-5">
        <h1>
          {% if form.instance.pk %}
            Edit
          {% else %}
            Add
          {% endif %}Staff Member
        </h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    {% endblock %}

    {% include 'footer.html' %}
  </body>
</html>
