body {
    background-color: #f8f9fa;
}

/* .container {
    margin-top: 50px;
} */

.jumbotron {
    background-color: #007bff;
    color: #fff;
}


.card {
    margin-bottom: 20px;
}


.photo {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #007afc;
    color: #fff;
    padding: 5px 0;
}

.footer {
    background-color: #007afc;
    color: #fff;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
}