{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of All Buses</title>
  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>

<body>

  {% include 'header.html' %}



  <div class="container mt-5">
    <h3 class="text-left">Student Information</h3>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Student Name</th>
              <th scope="col">Roll Number</th>
              <th scope="col">Bus Number</th>
              <th scope="col">Bording Point</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            {% block content %}
            {% for  i in student  %}
            <tr>
           
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.first_name}}</td>
              <td>{{i.roll_number}}</td>
              <td>{{i.bus}}</td>
              <td>{{i.boarding_point}}</td>
              <td><button onclick="location.href='/students/student/{{i.roll_number}}'" class="btn btn-primary">Details</button></td>
            </tr>
            {% endfor %}
            {% endblock content %}
          </tbody>
        </table>


      </div>

      <!-- Add more cards as needed for additional buses -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <button onclick="location.href='/'" class="btn btn-primary">Back</button>
      </div>
    </div>
  </div>

  <div class="footer">

    <p class="text-center">© 2024 Developed by K.V.Chandrasekhar, Assistant Professor, Department of CSM & CSD
    </p>

  </div>



  <!-- Bootstrap JS and dependencies -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>